<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>プレーヤー名入力</title>
  <link rel="stylesheet" href="name.css">
</head>

<body>
  <div class="container">
    <h1>プレーヤー名を入力してください</h1>
    <form action="/player" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <label for="playername">プレイヤー名:</label>
      <input type="text" name="playername" id="playername" required />
      <button type="submit">次へ</button>
    </form>
  </div>
</body>

</html>
