<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Name</title>
</head>

<body>
  <h1>プレーヤー名とパスワードを入力してください</h1>
  <div th:if="${error}">
    [[${error}]] はすでに使用されています
  </div>
  <form action="/player" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label for="playername">プレイヤー名:</label>
    <input type="text" name="playername"><br />

    <label for="pass">パスワード(6文字以上で入力してください):</label>
    <input type="password" name="psswd" minlength="6" required />

    <button type="submit">次へ</button>
  </form>
</body>

</html>
