<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Room</title>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script src="room.js"></script>
</head>

<body>
  <script th:inline="javascript">
    const id = /*[[${id}]]*/"id";
  </script>
  <div id="roomid" th:text="${roomid}"></div>
  <table>
    <tbody id="message">
    </tbody>
  </table>
  <a id="init" th:href="@{/init(roomid=${roomid})}">ゲームスタート</a>
  <a id="gamestart" th:href="@{/game(id=${id}, roomid=${roomid})}"></a>
  <a th:href="@{/player(id=${id}, roomid=${roomid})}">もどる</a>
</body>

</html>
