<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Room</title>
  <link rel="stylesheet" href="room.css">
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script src="room.js"></script>
</head>

<body>
  <div>
    <span>ルームID:</span><span id="roomId" th:text="${roomId}"></span>
  </div>
  <div>
    <span>プレイヤーID:</span><span id="userId" th:text="${id}"></span>
  </div>
  <table>
    <tbody id="message">
    </tbody>
  </table>
  <button id="init">ゲームスタート</button>
  <a th:href="@{/player(id=${id}, roomId=${roomId})}">もどる</a>
</body>

</html>
