<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Room</title>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script src="room.js"></script>
</head>

<body>
  <div id="roomid" th:text="${roomid}"></div>
  <table>
    <tbody id="message">
    </tbody>
  </table>
  <a th:href="@{/game(playername=${playername},roomid=${roomid})}">ゲームスタート</a>
  <a th:href="@{/player(playername=${playername},roomid=${roomid})}">もどる</a>
</body>

</html>
